@charset "UTF-8";

* {
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #E0D5AD, #F7CD82);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.733);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F79E6B;
    text-align: center;
    text-shadow: 1px 1px 0px #E0D5AD;
}

h2 {
    color: #92A78C;
}

p{
    text-align: justify;
}